@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    ;
    background-size: 400% 400%;
    animation: animate 7.5s ease-in-out infinite;
}

.time,
.day {
    text-align: center;
    width: 100%;
    font-size: 20pt;
    font-family: 'Poppins';
    background: rgba(255, 255, 255, .2);
    color: #fff;
    padding: 2vh;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);

}

@keyframes animate {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
